<div class="d-flex d-flex-row justify-content-space-around">
	<div class="col-md-4">
		<kendo-floatinglabel [text]="'Years'">
			<kendo-multiselect [data]="years"
							   [(value)]="yearsSelected"
							   (valueChange)="onYearsChange($event)"
							   [autoClose]="false">
				<ng-template kendoMultiSelectItemTemplate
							 let-dataItem>
					<input type="checkbox"
						   class="k-checkbox"
						   [checked]="isYearSelected(dataItem)">
					<label class="k-checkbox-label">{{ dataItem }}</label>
				</ng-template>
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
	<div class="col-md-4">
		<kendo-floatinglabel [text]="'Provinces'">
			<kendo-multiselect [data]="provinces"
							   [(value)]="provincesSelected"
							   (valueChange)="onProvincesChange($event)"
							   [autoClose]="false">
				<ng-template kendoMultiSelectItemTemplate
							 let-dataItem>
					<input type="checkbox"
						   class="k-checkbox"
						   [checked]="isProvinceSelected(dataItem)">
					<label class="k-checkbox-label">{{ dataItem }}</label>
				</ng-template>
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
	<div class="col-md-4">
		<kendo-floatinglabel [text]="'Fish Types'">
			<kendo-multiselect [data]="fishTypes"
							   [(value)]="fishTypesSelected"
							   (valueChange)="onFishTypesChange($event)"
							   [autoClose]="false">
				<ng-template kendoMultiSelectItemTemplate
							 let-dataItem>
					<input type="checkbox"
						   class="k-checkbox"
						   [checked]="isFishTypeSelected(dataItem)">
					<label class="k-checkbox-label">{{ dataItem }}</label>
				</ng-template>
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
</div>

<div class="d-flex d-flex-row justify-content-center mt-4">
	<button kendoButton
			[icon]="'refresh'"
			(click)="getData()">
		Get Data
	</button>
</div>
<div id="chartdiv"
	 style="width: 100%; height: 800px"></div>
<summary-line-chart></summary-line-chart>
