<div class="d-flex d-flex-row justify-content-space-around">
	<div class="col-md-4 pl-4">
		<kendo-floatinglabel [text]="'Years'">
			<kendo-numerictextbox [(value)]="startYear"
								  [spinners]="false"
								  [format]="'####'"
								  [min]="1990"
								  [max]="2018">
			</kendo-numerictextbox>
			<kendo-numerictextbox [(value)]="endYear"
								  [spinners]="false"
								  [format]="'####'"
								  [min]="1990"
								  [max]="2018">
			</kendo-numerictextbox>
		</kendo-floatinglabel>
	</div>
	<div class="col-md-4">
		<kendo-floatinglabel [text]="'Provinces'">
			<kendo-multiselect [data]="provinces"
							   [(value)]="provincesSelected"
							   (valueChange)="onProvincesChange($event)"
							   [autoClose]="false">
				<ng-template kendoMultiSelectItemTemplate
							 let-dataItem>
					<input type="checkbox"
						   class="k-checkbox"
						   [checked]="isProvinceSelected(dataItem)">
					<label class="k-checkbox-label">{{ dataItem }}</label>
				</ng-template>
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
	<div class="col-md-4">
		<kendo-floatinglabel [text]="'Fish Types'">
			<kendo-multiselect [data]="fishTypes"
							   [(value)]="fishTypesSelected"
							   (valueChange)="onFishTypesChange($event)"
							   [autoClose]="false">
				<ng-template kendoMultiSelectItemTemplate
							 let-dataItem>
					<input type="checkbox"
						   class="k-checkbox"
						   [checked]="isFishTypeSelected(dataItem)">
					<label class="k-checkbox-label">{{ dataItem }}</label>
				</ng-template>
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
</div>

<div class="d-flex d-flex-row justify-content-center mt-4">
	<button kendoButton
			[icon]="'refresh'"
			(click)="getData()">
		Get Data
	</button>
	<button kendoButton
			[icon]="'copy'"
			(click)="copyStateToClipboard()"
			class="ml-4">
		Copy to Clipboard
	</button>
</div>
<div class="d-flex d-flex-row justify-content-center mt-4">
	<kendo-textbox [(value)]="stateBase64">
	</kendo-textbox>
	<button kendoButton
			[icon]="'refresh'"
			(click)="loadFromBase64()"
			class="ml-4">
		Load Visualization
	</button>
</div>
<kendo-tabstrip [keepTabContent]="true">
	<kendo-tabstrip-tab [title]="'Problem 1 (Line Chart)'" [selected]="true">
	  <ng-template kendoTabContent>
			<summary-line-chart #summaryLineChart></summary-line-chart>
	  </ng-template>
	</kendo-tabstrip-tab>
	<kendo-tabstrip-tab [title]="'Problem 2 (Scatter Plot)'">
		<ng-template kendoTabContent>
			<summary-scatter-plot #summaryScatterPlot></summary-scatter-plot>
		</ng-template>
	  </kendo-tabstrip-tab>
	  <kendo-tabstrip-tab [title]="'Problem 3 (Pie Chart)'">
		<ng-template kendoTabContent>
			<summary-pie-chart #summaryPieChart></summary-pie-chart>
		</ng-template>
	  </kendo-tabstrip-tab>
	  <kendo-tabstrip-tab [title]="'Problem 4 (Bar Chart)'">
		<ng-template kendoTabContent>
			  <summary-bar-chart #summaryBarChart></summary-bar-chart>
		</ng-template>
	  </kendo-tabstrip-tab>
</kendo-tabstrip>