<div class="row">
	<div class="col-md-3">
		<button kendoButton
				[icon]="'refresh'"
				(click)="getTestFile()">
			Get Data
		</button>
	</div>
	<div class="col-md-3">
		<kendo-floatinglabel [text]="'Years'">
			<kendo-multiselect [data]="['1990', '...', '2018']"
							   [autoClose]="false">
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
	<div class="col-md-3">
		<kendo-floatinglabel [text]="'Provinces'">
			<kendo-multiselect [data]="['AB','BC','...']"
							   [autoClose]="false">
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
	<div class="col-md-3">
		<kendo-floatinglabel [text]="'Fish Types'">
			<kendo-multiselect [data]="['Hake','Eel','...']"
							   [autoClose]="false">
			</kendo-multiselect>
		</kendo-floatinglabel>
	</div>
</div>
<div id="chartdiv"
	 style="width: 100%; height: 1300px"></div>

<div id="chartdiv2"
	 style="width: 100%; height: 500px"></div>


<router-outlet></router-outlet>
